<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>bank</servlet-name>
        <servlet-class>controller.bank.Bank</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createcustomer</servlet-name>
        <servlet-class>controller.bank.CreateCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deposit</servlet-name>
        <servlet-class>controller.bank.Deposit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Atm</servlet-name>
        <servlet-class>controller.atm.Atm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtmTransaction</servlet-name>
        <servlet-class>controller.atm.AtmTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtmCheckBalance</servlet-name>
        <servlet-class>controller.atm.AtmCheckBalance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtmWithdraw</servlet-name>
        <servlet-class>controller.atm.AtmWithdraw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtmLogout</servlet-name>
        <servlet-class>controller.atm.AtmLogout</servlet-class>
    </servlet>



    <servlet-mapping>
        <servlet-name>bank</servlet-name>
        <url-pattern>/bank</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createcustomer</servlet-name>
        <url-pattern>/bank/createcustomer</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>deposit</servlet-name>
        <url-pattern>/bank/deposit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Atm</servlet-name>
        <url-pattern>/atm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtmTransaction</servlet-name>
        <url-pattern>/atm_transaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtmCheckBalance</servlet-name>
        <url-pattern>/atm_checkbalance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtmWithdraw</servlet-name>
        <url-pattern>/atm_withdraw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtmLogout</servlet-name>
        <url-pattern>/atm_logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.html</welcome-file>
    </welcome-file-list>
</web-app>
